@import url('/static/font/font-style.css');
// put your custom CSS here!

.handwriting {
  font-size: 1.2rem;
  font-family: 'RageItalic' ;
  border: none;
  padding: 0;
  position: unset;
}

.lal{
  color: #E57A81;
}